body {
background-image: url(/files/grass.gif);
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}
h3 {
  text-align: center;
  color: white;
}
li {
  text-align: center;
  color: white;
}
p {
    text-align: center;
    color: white;
}
table, th, td {
  border:1px solid black;
  color: white;
  margin: auto;
}