body {
  background: linear-gradient(138deg, #00ffd4, #00b9ff, #ff00f5, #ff006e, #ffc100);
  background-size: 1000% 1000%;

  animation: Tre 39s ease infinite;
}

@keyframes Tre {
  0%{background-position:0% 7%}
  50%{background-position:100% 94%}
  100%{background-position:0% 7%}
}
h1 {
  text-align: center;
  color: rgb(0, 0, 0)
}
h2 {
  text-align: center;
  color: rgb(0, 0, 0)
}
h3 {
  text-align: center;
  color: rgb(0, 0, 0)
}
p
  { 
    text-align: center;
    color: rgb(0, 0, 0)
  }
mark
  { 
    background-color: #00ffe8;
  }
.container {
  margin: auto;
  width: 660;
}
.tde
 {
background: rgb(50,93,181);
background: linear-gradient(31deg, rgba(50,93,181,1) 0%, rgba(62,118,203,1) 35%, rgba(207,228,244,1) 100%); 
margin: auto;
width: 200px;
position: relative;
outline: outset 3px blue;
float: left;
 } 
 .main
 {
  margin: auto;
  left: 30;
  width: 200px;
  position: relative;
  float: left;
 } 
 .enjoy
 {
  background: #fbff00;
  margin: auto;
  width: 200px;
  outline: ridge 3px rgb(0, 0, 0);
  position: relative;
  float: left;
 }  
.tv
{
  background: url('/files/backround1.gif');
  left: 60;
  margin: auto;
  width: 200px;
  position: relative;
  outline: groove 3px rgb(214, 0, 0);
  float: left;
}
.cc
{
  margin: auto;
  top: 30px;
  position: relative;
  float: left;
  outline: dashed 3px rgb(133, 133, 133);

}
.lp
{
  margin: auto;
  top: 30px;
  left: 25px;
  position: relative;
  float: left;
  outline: dashed 3px rgb(190, 190, 190);
}
.contact
{
  margin: auto;
  top: 60px;
  left: 0px;
  background: rgb(121,74,255);
  background: linear-gradient(180deg, rgba(121,74,255,1) 0%, rgba(145,115,255,1) 47%, rgba(188,164,255,1) 100%);   position: relative;
  float: left;
  outline: dashed 3px rgb(136, 0, 255);
}

