body {
  background: linear-gradient(138deg, #00ffd4, #00b9ff, #ff00f5, #ff006e, #ffc100);
  background-size: 1000% 1000%;

  animation: Tre 39s ease infinite;
}

@keyframes Tre {
  0%{background-position:0% 7%}
  50%{background-position:100% 94%}
  100%{background-position:0% 7%}
}
h1 {
  text-align: center;
  color: rgb(0, 0, 0)
}
h2 {
  text-align: center;
  color: rgb(0, 0, 0)
}
h3 {
  text-align: center;
  color: rgb(0, 0, 0)
}
p
  { 
    text-align: center;
    color: rgb(0, 0, 0)
  }
.container {
  margin: auto;
  width: 430;
}
.main
 {
  margin: auto;
  width: 200px;
  outline: dashed 3px rgb(0, 0, 0);
  position: relative;
  float: right;
 }  
.tde
 {
margin: auto;
width: 200px;
position: relative;
outline: dashed 3px blue;
float: left;
 } 
 .cc
 {
   top: 30;
   left: 30;
   margin: auto;
   width: 88px;
   position: relative;
   height: 31px;
   outline: dashed 3px rgb(133, 133, 133);
   float: left;
 }
 .lp
{
  top: 30;
  left: 55;
  margin: auto;
  width: 88px;
  position: relative;
  height: 31px;
  outline: dashed 3px rgb(133, 133, 133);
  float: left;
}