body {
    background-image: url(/files/paper.png);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}  
h3 {
    color: rgb(0, 0, 0);
    text-align: left;
}  
p {
    color: rgb(0, 0, 0);
    text-align: left;
}    