body {
    background-color: rgb(66, 72, 155);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
h1 {
    color: white;
    text-align: center;
} 
h3 {
    color: white;
    text-align: left;
} 
h5 {
    color: white;
    text-align: left;
}
p {
    color: rgb(0, 0, 0);
}    
.intro {
    display: inline-block;
    background-color: white;
    position: relative;
    margin: auto;
    border: red 3px inset;
    text-align: center;
    font-size: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.links {
    top: 40px;
    width: 450px;
    height: 220px;
    background-color: rgb(255, 238, 0);
    position: relative;
    margin: auto;
    border: red 3px outset;
}
.links img {
     position: absolute;
     right: 0;
     top: 0;
}