body {
    background-color: black;
    text-align: center;
}
h1 {
    text-align: center;
    color: white;
  }
p {
    text-align: center;
    color: white;
  }
 .shows
  {
    display: flex;
    justify-content: center;
  }